table, th, td {
    border: 1px solid rgb(5, 5, 5);
    border-collapse: collapse;
    padding: 5px;
  }
  
  th {
    background-color: #150d83;
    color: white;
    width: 150px;
  }
  
  table tr:nth-child(odd) {
    background-color: #ccc9f3;
  }
  
  table tr:nth-child(even) {
    background-color: #ffffff;
  }

  .paginazione-controlli {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
  }
  
  .paginazione-bottone {
    background-color: #150d83;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 2px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .paginazione-bottone:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .paginazione-controlli span {
    font-weight: bold;
    margin: 0 10px;
  }

  .filters-div {
    display: flex; 
    flex-direction: row; 
    margin-bottom: 10px; 
    width: 75%; 
    justify-content: space-between;
  }

  .container{
    display:flex; 
    flex-direction: column ;
  }

  .tabella-bottoni{
    display: grid; 
    grid-template-columns: 80% auto; 
    gap: 10px;
  }
  