.add-button{
    margin-top: 20px; 
    height: 30px; 
    width: 200px; 
    border-radius: 10px;
  }

  .edit-button{
    margin-top: 5px; 
    height: 30px; 
    margin-right: 5px; 
    border-radius: 10px; 
    border-color: lightblue; 
    background-color: lightblue;;
  }

  .delete-button{
    margin-top: 5px; 
    height: 30px; 
    background-color: red; 
    border-radius: 10px;
  }